*{
    outline: none;
    box-sizing: border-box;
  }

body{
    background-color: black;
}

#preloader{
    background: black url(preloader.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.title1-container{
    display: flex;
    margin: auto;
    justify-content: center;
    width: 100px;
    height: 100px;
}

.title2-container{
    display: flex;
    margin: auto;
    justify-content: center;
    width: 100px;
    height: 100px;
}

.reason{
    font-size: 25px;
    color: darkgrey;
    text-align: center;
    font-family:"Lucida Console", "SF UI Text", "Helvetica Neue", "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Open Sans", sans-serif;
    margin: auto;
    justify-content: center;
    margin-top: 25px;
  }
  
.calculator {
   
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    opacity: 0.75;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    background-color: #252627; 
    width: 50%;

  }

  .lift, textarea {

    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: none;
    box-shadow: none;
    border-radius: 50px;
    background-color: black;
    opacity: 0.75;
    color: darkgrey;
    font-size: 16px;
    font-family:"Lucida Console", "SF UI Text", "Helvetica Neue", "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Open Sans", sans-serif;
    width: 50%;
    outline: none;
    margin-bottom: 10px;
  }

  .reps, textarea {

    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: none;
    box-shadow: none;
    border-radius: 40px;
    background-color: black;
    opacity: 0.75;
    color: darkgrey;
    font-size: 16px;
    font-family:"Lucida Console", "SF UI Text", "Helvetica Neue", "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Open Sans", sans-serif;
    width: 50%;
    outline: none;
    margin-bottom: 20px;
  }
  
  .formstart{
    margin-top: 20px;
  }
  
  .calculator-form {
    margin: auto;
    justify-content: center;
  }
  
  button:hover{
    cursor: pointer;
  }
  
  .button{
    display: inline-block;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: normal;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    justify-content: center;
  }
  
  .button:hover {
    opacity: 0.75;
    color: white;
    border: 2.5px solid white;
  }
  
  .button-primary {
    margin: auto;
    display: block;
    justify-content: center;
    border: 2.5px solid darkgrey;
    color: darkgrey;
    background-color: transparent;
    font-family:"Lucida Console", "SF UI Text", "Helvetica Neue", "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Open Sans", sans-serif;
    margin-bottom: 10px;
    border-radius: 40px;
  }
  
  .amt_strength{
    margin-top: 25px;
    font-size: 20px;
    color: darkgrey;
    text-align: center;
    font-family:"Lucida Console", "SF UI Text", "Helvetica Neue", "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Open Sans", sans-serif;
    margin: auto;
    justify-content: center;
  }

  @media only screen and (max-width: 600px) {

    .lift, .reps, textarea {
      width: 90%;
    }

    .reason{
      font-size: 12px;
  }  

  .title1-container, .title2-container {
    margin-top: 50px;
    width: 48px;
    height: 48px;
  }

  .calculator{
    width: 80%;
    top: 65%;
  }
}
